*{
    margin:0;
    padding: 0;
}
body{
    background-color: rgb(247 147 161);
    text-align: center;
    color: white;
   

 
}
.container{
    height:70vh;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game{
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,1);
    font-size: 8vmin;
    color: brown;
}
#reset_button{
   padding:  1rem;
   font-size: 1.25rem;
   border-radius: 1rem;
   box-shadow: inset;
   border: none ;
}
#reset_button:hover{
    background-color: brown;
    color:white;
    font-weight: 700;
}
.renew{
    padding:  1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    box-shadow: inset;
    border: none ;
}
.renew:hover{
    background-color: rgb(87, 38, 0);
    color:white;
    font-weight: 700;
}
#msg{
    color:rgb(97, 68, 31);
    font-size:8vmin;

}
.msg_cont{
  height: 30vmin;

} 
.hide{
    display: none;
}